# <font color=darkblue> Machine Learning model deployment with Flask framework on Heroku</font>

## <font color=Blue>Used Cars Price Prediction Application</font>

### Objective:
1. To build a Machine learning regression model to predict the selling price of the used cars based on the different input features like fuel_type, kms_driven, type of transmission etc.
2. Deploy the machine learning model with flask framework on heroku.

### Dataset Information:
#### Dataset Source: https://www.kaggle.com/datasets/nehalbirla/vehicle-dataset-from-cardekho?select=CAR+DETAILS+FROM+CAR+DEKHO.csv
This dataset contains information about used cars listed on www.cardekho.com
- **Car_Name**: Name of the car
- **Year**: Year of Purchase
- **Selling Price (target)**: Selling price of the car in lakhs
- **Present Price**: Present price of the car in lakhs
- **Kms_Driven**: kilometers driven
- **Fuel_Type**: Petrol/diesel/CNG
- **Seller_Type**: Dealer or Indiviual
- **Transmission**: Manual or Automatic
- **Owner**: first, second or third owner

### 1. Import required libraries

In [24]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

### 2. Load the dataset

In [25]:
df = pd.read_csv("car+data.csv")
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

### 3. Check the shape and basic information of the dataset.

In [26]:
df.shape

(301, 9)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

### 4. Check for the presence of the duplicate records in the dataset? If present drop them

In [29]:
df[df.duplicated()]

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
17,ertiga,2016,7.75,10.79,43000,Diesel,Dealer,Manual,0
93,fortuner,2015,23.00,30.61,40000,Diesel,Dealer,Automatic,0

In [5]:
df.drop_duplicates(keep='first', inplace=True)

In [30]:
df.shape

(301, 9)

### 5. Drop the columns which you think redundant for the analysis.

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [32]:
df.columns

Index(['Car_Name', 'Year', 'Selling_Price', 'Present_Price', 'Kms_Driven',
       'Fuel_Type', 'Seller_Type', 'Transmission', 'Owner'],
      dtype='object')

In [33]:
df.drop('Car_Name',axis=1,inplace=True)

In [34]:
df.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

### 6. Extract a new feature called 'age_of_the_car' from the feature 'year' and drop the feature year

In [35]:
from datetime import date
today=date.today().year
df['age_of_the_car']=today-df['Year']

In [36]:
df['age_of_the_car']

0       9
1      10
2       6
3      12
4       9
       ..
296     7
297     8
298    14
299     6
300     7
Name: age_of_the_car, Length: 301, dtype: int64

### 7. Encode the categorical columns

In [37]:
from sklearn.preprocessing import LabelEncoder
for col in df.select_dtypes('object').columns:
    le=LabelEncoder()
    df[col]=le.fit_transform(df[col])

In [38]:
cate=['Fuel_Type','Seller_Type','Transmission']
lbl_encode=LabelEncoder()
for i in cate :
    df[i]=df[[i]].apply(lbl_encode.fit_transform)

In [39]:
df

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,age_of_the_car
0,2014,3.35,5.59,27000,2,0,1,0,9
1,2013,4.75,9.54,43000,1,0,1,0,10
2,2017,7.25,9.85,6900,2,0,1,0,6
3,2011,2.85,4.15,5200,2,0,1,0,12
4,2014,4.60,6.87,42450,1,0,1,0,9
...,...,...,...,...,...,...,...,...,...
296,2016,9.50,11.60,33988,1,0,1,0,7
297,2015,4.00,5.90,60000,2,0,1,0,8
298,2009,3.35,11.00,87934,2,0,1,0,14
299,2017,11.50,12.50,9000,1,0,1,0,6
300,2016,5.30,5.90,5464,2,0,1,0,7

### 8. Separate the target and independent features.

In [40]:
x=df.drop('Selling_Price', axis=1)
y=df['Selling_Price']

### 9. Split the data into train and test.

In [41]:
from sklearn.model_selection import train_test_split
x_train , x_test ,y_train ,y_test=train_test_split(x,y,test_size=0.30, random_state=1)

### 10. Build a Random forest Regressor model and check the r2-score for train and test.

In [42]:
# function which can take the model and data as inputs
from sklearn.metrics import r2_score
def fit_n_predict(model,x_train,x_test,y_train,y_test):
    #fit the model with train data
    model.fit(x_train, y_train)
    
    #Makes the predictions on the test set
    pred=model.predict(x_test)
    
    #Calculating the accuracy score
    accuracy=r2_score(y_test, pred)
    
    #Returns the accuracy score
    return accuracy

In [43]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor()

In [44]:
rs=pd.DataFrame()

In [45]:
result_=fit_n_predict(rf,x_train,x_test,y_train,y_test)

In [47]:
result_

0.9203028375571611

In [48]:
rs['random_forest']=pd.Series(result_)

In [49]:
rs

   random_forest
0       0.920303

### 11. Create a pickle file with an extension as .pkl

In [51]:
import pickle
#saving the model to disk
pickle.dump(rf,open('model.pkl','wb'))

### 12. Create new folder/new project in visual studio/pycharm that should contain the "model.pkl" file *make sure you are using a virutal environment and install required packages.*

### a) Create a basic HTML form for the frontend

In [ ]:
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="hero-image"
        <div class="hero-text">
        
        <h1 style="font-size:50px">Used Car Price Predictor</h1>
            <br><br><h3>{{ prediction_text }}<h3>
        </div>
    </div>
    <style>
        body,html{
            height: 100%;
            margin: 0;
            font-family:Arial, Helvetica, sans-serif ;
        }
        .hero-image{
            background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/static/image.jpg');
            height: 50%;
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }
        .hero-text{
            text-align: center;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
    <form action="submit">
        <h3>Seller Type</h3><br><select name="Seller_Type" id="research" required="required">
            <option value="0">Dealer</option>
            <option value="1">Individual</option>
        </select>
        <h3>Transmission</h3><br><select name="Transmission" id="research" required="required">
            <option value="0">Manual</option>
            <option value="1">Automatic</option>
        </select>
        <br><br><button id="sub" type="submit">Predict Selling Price</button>
        <br>
    </form>
    <style>
        body{
            background-color: 101,10,20;
            text-align: center;
            padding: 0px;
            font-family: helvetica;
        }
       
    #research {
            font-size: 18px;
            width: 200px;
            height: 23px;
            top: 23px;
            }
        #box{
            border-radius: 60px;
            border-color: 45px;
            border-style: solid;
            text-align: center;
            background-color: white;
            font-size: medium;
            position: absolute;
            width: 700px;
            bottom: 9%;
            height: 850px;
            right: 30%;
            padding: 0px;
            margin: 0px;
            font-size: 14px;
        }
        #fuel{
            width: 83px;
            height: 43px;
            text-align: center;
            border-radius: 14px;
            font-size: 20px;
        }
        #sub{
            background-color: green;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            width: 180px;
            height: 60px;
            text-align: center;
            border-radius: 20px;
            font-size: 18px;
            color: white;
           }
        #sub:hover{
            background-color: white;
        }
        #first{
            border-radius: 14px;
            height: 25px;
            font-size: 20px;
            text-align: center;
        }
        #second{
            border-radius: 14px;
            height: 25px;
            font-size: 20px;
            text-align: center;
        }
        #third{
            border-radius: 14px;
            height: 25px;
            font-size: 20px;
            text-align: center;
        }
        #fourth {
            border-radius: 14px;
            height: 25px;
            font-size: 20px;
            text-align: center;
            }
    </style>
    
</body>
</html>

Create a file **index.html** in the templates folder and copy the following code.

### b) Create app.py file and write the predict function

In [54]:
from flask import Flask, render_template,request,jsonify
import pickle
import numpy as np 
import sklearn

app=Flask(__name__)
model=pickle.load(open('model.pkl','rb'))

@app.route('/',methods=['GET'])
def Home():
    return render_template('index.html')

@app.route('/predict',methods=['POST'])
def predict():
    if request.method=='POST':
        Present_Price=float(request.form['Present_Price'])
        Kms_Driven=int(request.form['Kms_Driven'])
        Owner=request.form['Owner']
        Fuel_Type=request.form['Fuel_Type']
        Age_of_the_car=request.form['Age_of_the_car']
        Seller_Type=request.form['Seller_Type']
        Transmission=int(request.form['Transmission'])

        prediction=model.predict([[Present_Price,Kms_Driven,Owner,Fuel_Type,Age_of_the_car,Seller_Type,Transmission]])
        output=round(prediction[0],2)
        return render_template('index.html',prediction_text="You can sell your car at {} lakhs".format(output))
    
    if __name__=="__main__":
        app.run(dedug=True)

### 13. Deploy your app on Heroku. (write commands for deployment)

### 14. Paste the URL of the heroku application below, and while submitting the solution submit this notebook along with the source code.

### Happy Learning :)